@model Employee_LeaveHistory_Detail
@{
    var dateFormat = ExtensionMethod.GetDateFormat();
}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Leave Detail</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div id="print-container">
                <h5 class="text-primary">Employee Details</h5>
                <div><span class="font-weight-bold">Name/Code: </span>@Model.EmpLeaveDetail.Name (@Model.EmpLeaveDetail.Code)</div>
                <div><span class="font-weight-bold">Nationality : </span></div>
                <div><span class="font-weight-bold">Location : </span>@Model.EmpLeaveDetail.Location</div>
                <div><span class="font-weight-bold">Desgignation : </span>@Model.EmpLeaveDetail.Designation</div>
                <div><span class="font-weight-bold">Joined Date : </span>@Model.EmpLeaveDetail.FormatedDoj.ToString(dateFormat)</div>
                <div><span class="font-weight-bold">Last Rejoined Date : </span>@Model.EmpLeaveDetail.LastRejoinDt.ToString(dateFormat)</div>
                <div><span class="font-weight-bold">Total Days With Company : </span>@Model.EmpLeaveDetail.TotalDays</div>
                <div><span class="font-weight-bold">Outstanding  : </span>@Model.OutstandingDetail.Outstanding</div>
                <div><span class="font-weight-bold">Leave Salary/yr : </span>@Model.EmpLeaveDetail.LvSalary</div>
                <div><span class="font-weight-bold">Leave Ticket/yr : </span>@Model.EmpLeaveDetail.LvTicket</div>
                <div><span class="font-weight-bold">This month Salary : </span>@Model.EmpLeaveDetail.LvSalary</div>
                <div><span class="font-weight-bold">Opening NoPay : </span>@Model.EmpLeaveDetail.Cumlvnopay</div>
                <h5 class="text-primary mt-2">Salary Details</h5>
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.IncomeDetails)
                    {
                        <tr>
                            <td>@item.Des</td>
                            <td>@item.AmtVal</td>
                        </tr>
                    }
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>@Model.IncomeDetails.Sum(m => m.AmtVal)</th>
                        </tr>
                    </tfoot>
                </table>
                <h5 class="text-primary mt-2">Previous Exit & Entry Details</h5>
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date Range</th>
                            <th>With Pay(Days)</th>
                            <th>Without Pay(Days)</th>
                            <th>Total(Days)</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.PreviousLeaveHistory)
                    {
                        <tr>
                            <td>@item.FromDate.ToString(dateFormat) - @item.ToDate.ToString(dateFormat)</td>
                            <td>@item.WithPay</td>
                            <td>@item.WithoutPay</td>
                            <td>@item.Total</td>
                        </tr>
                    }
                </table>
                @*
                <div><span class="font-weight-bold">Employee: </span>@($"{Model.Emp}({Model.EmpCd.Trim()})")</div>
                <div><span class="font-weight-bold">Designation: </span>@Model.Desg</div>
                <div><span class="font-weight-bold">Branch: </span>@Model.Branch</div>
                <div><span class="font-weight-bold">Applied Date: </span>@Model.TransDt.Value.ToString(ViewData["ServerDateFormat"].ToString())</div>
                <div><span class="font-weight-bold">Leave Type: </span>@Model.LvTyp</div>
                <div><span class="font-weight-bold">Date Range: </span>@Model.LvDateRange (@Model.LvDays days)</div>
                <div><span class="font-weight-bold">Reason: </span>@Model.Reason</div> *@
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-submit" class="btn btn-info" onclick="printDiv()">Print</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>