@model EmpLoan_GetRow_Result
@{
    var dateFormat = ExtensionMethod.GetDateFormat();
}
<div class="modal-dialog" style="max-width:850px">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Loan Approval</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-border-right">
                    <h5 class="text-primary">Application Details</h5>
                    <div><span class="font-weight-bold">Transaction No: </span>@Model.TransNo</div>
                    <div><span class="font-weight-bold">Employee: </span>@($"{Model.EmpName}({Model.EmployeeCode.Trim()})")</div>
                    <div><span class="font-weight-bold">Designation: </span>@Model.Desg</div>
                    <div><span class="font-weight-bold">Application Date: </span>@Model.TransDt.FormatDate()</div>
                    <div><span class="font-weight-bold">Loan Type: </span>@Model.LoanType</div>
                    <div><span class="font-weight-bold">Loan Amount: </span>@Model.Amt</div>
                    <div><span class="font-weight-bold">Ref Date: </span>@Model.DocRef</div>
                    <div><span class="font-weight-bold">No of Installments Req.: </span>@Model.NoInstReq</div>
                    <div><span class="font-weight-bold">Purpose: </span>@Model.Purpose</div>
                    <div><span class="font-weight-bold">Previous Loan Balance: </span><span class="@(Model.Balance > 0 ? "text-danger" : "text-success")">@(Model.Balance > 0 ? Model.Balance.ToString() : "Nil")</span></div>
                    <div><span class="font-weight-bold">Branch: </span>@Model.EmpBranch</div>
                    <div><span class="font-weight-bold">Salary: </span>@Model.Salary</div>
                    <div><span class="font-weight-bold">Mob No.: </span>@Model.Mobile</div>
                </div>
                <div class="col-md-6 pl-3">
                    <h5 class="text-primary">Approval Details</h5>
                    <form id="loan-approval-frm">
                        <input type="hidden" asp-for="TransNo" />
                        <input type="hidden" asp-for="LoanStatus" />
                        <input type="hidden" asp-for="Current_Approval_Level" />
                        <input type="hidden" asp-for="Current_Approval" />
                        <div id="approval-div">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ApprAmt"></label>
                                        <input asp-for="ApprAmt" type="text" class="form-control int-input" data-max="@Model.Amt" />
                                        <span asp-validation-for="ApprAmt" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="NoInst"></label>
                                        <input asp-for="NoInst" type="text" class="form-control int-input" data-max="@Model.NoInstReq" />
                                        <span asp-validation-for="NoInst" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LoanApprDt"></label>
                                        <input asp-for="LoanApprDt" type="text" class="form-control date-input" />
                                        <span asp-validation-for="LoanApprDt" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="DedStartDt"></label>
                                        <input asp-for="DedStartDt" type="text" class="form-control date-input" />
                                        <span asp-validation-for="DedStartDt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="RecoMode"></label>
                                        <select asp-for="RecoMode" type="text" class="form-control select-picker" asp-items="ViewBag.RecModeItems"></select>
                                        <span asp-validation-for="RecoMode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Reco_Prd"></label>
                                        <select asp-for="Reco_Prd" type="text" class="form-control select-picker" asp-items="ViewBag.RecPrdItems"></select>
                                        <span asp-validation-for="Reco_Prd" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ChgsTyp"></label>
                                        <select asp-for="ChgsTyp" type="text" class="form-control select-picker" asp-items="ViewBag.ChargeTypeItems"></select>
                                        <span asp-validation-for="ChgsTyp" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ChgsPerc"></label>
                                        <input asp-for="ChgsPerc" type="text" class="form-control percentage-input" />
                                        <span asp-validation-for="ChgsPerc" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Guarantor"></label>
                            <input asp-for="Guarantor" type="text" class="form-control" />
                            <span asp-validation-for="Guarantor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GuarantorDetails"></label>
                            <textarea asp-for="GuarantorDetails" type="text" class="form-control"></textarea>
                            <span asp-validation-for="GuarantorDetails" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Narr"></label>
                            <textarea asp-for="Narr" type="text" class="form-control"></textarea>
                            <span asp-validation-for="Narr" class="text-danger"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveLoanApproval(this)" id="btn-submit">Approve</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>