@model EmpDutyResumptionModel
@{
    var serverDateFormat = ExtensionMethod.GetDateFormat();
}
<div class="modal-dialog" style="max-width:1000px">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Duty Resumption</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-border-right">
                    <h5 class="text-primary">Application Details</h5>
                    <div><span class="font-weight-bold">Transaction No: </span>@Model.TransNo</div>
                    <div><span class="font-weight-bold">Employee: </span>@($"{Model.Emp}({Model.EmpCd.Trim()})")</div>
                    <div><span class="font-weight-bold">Designation: </span>@Model.Designation</div>
                    <div><span class="font-weight-bold">Branch: </span>@Model.Branch</div>
                    <div><span class="font-weight-bold">Application Date: </span>@Convert.ToDateTime(Model.AppDt).ToString(serverDateFormat)</div>
                    <div><span class="font-weight-bold">Leave Type: </span>@Model.LvTyp</div>
                    <div><span class="font-weight-bold">Date Range: </span>@Model.DateRange (@Model.LvDays days)</div>
                    <h5 class="text-primary mt-2">Approval Details</h5>
                    <div><span class="font-weight-bold">Approved Date: </span>@Convert.ToDateTime(Model.ApprDt).ToString(serverDateFormat)</div>
                    <div><span class="font-weight-bold">With Pay: </span>@Model.WpDateRange (@Model.WpLvDays days)</div>
                    <div><span class="font-weight-bold">Without Pay: </span>@Model.WopDateRange (@Model.WopLvDays days)</div>
                    <div><span class="font-weight-bold">Total Leave Days: </span>@Model.ApprDays</div>
                    <div><span class="font-weight-bold">Approved By: </span>@Model.ApprBy</div>
                </div>
                <div class="col-md-6 pl-md-3">
                    <h5 class="text-primary">Confirm/Revise/Cancel</h5>
                    <form id="leave-duty-resumption-frm">
                        <input type="hidden" asp-for="TransNo" />
                        <input type="hidden" asp-for="ApprDt" />
                        <input type="hidden" asp-for="EmpCd" />
                        <div>
                            <input type="hidden" asp-for="FromDt" />
                            <input type="hidden" asp-for="ToDt" />
                            <input type="hidden" asp-for="WpFrom" />
                            <input type="hidden" asp-for="WpTo" />
                            <input type="hidden" asp-for="LvDays" />
                            <input type="hidden" asp-for="WopFrom" />
                            <input type="hidden" asp-for="WopTo" />
                            <input type="hidden" asp-for="WpLvDays" id="WpDateRangeDays" />
                            <input type="hidden" asp-for="WopLvDays" id="WopDateRangeDays" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="WpDateRange"></label><span id="WpDateRangeDays-txt">(@Model.WpLvDays days)</span>
                                        <input asp-for="WpDateRange" class="form-control" />
                                        <span asp-validation-for="WpDateRange" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="WopDateRange"></label><span id="WopDateRangeDays-txt">(@Model.WopLvDays days)</span>
                                        <input asp-for="WopDateRange" class="form-control" />
                                        <span asp-validation-for="WopDateRange" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GratuityDateRange"></label><span id="GratuityDateRangeDays-txt"></span>
                                        <input asp-for="GratuityDateRange" class="form-control" />
                                        <span asp-validation-for="GratuityDateRange" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LvSalaryDateRange"></label><span id="LvSalaryDateRangeDays-txt"></span>
                                        <input asp-for="LvSalaryDateRange" class="form-control" />
                                        <span asp-validation-for="LvSalaryDateRange" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LvTicketDateRange"></label><span id="LvTicketDateRangeDays-txt"></span>
                                        <input asp-for="LvTicketDateRange" class="form-control" />
                                        <span asp-validation-for="LvTicketDateRange" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="JoinDt"></label>
                                        <input asp-for="JoinDt" class="form-control date-input" type="text">
                                        <span asp-validation-for="JoinDt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Remark"></label>
                            <textarea asp-for="Remark" class="form-control"></textarea>
                            <span asp-validation-for="Remark" class="text-danger"></span>
                        </div>
                        <div><span class="font-weight-bold">Total Leave Days: </span> <span id="totalLvDays">@Model.ApprDays</span></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveDutyResumption(this)">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>