@model EmpLeaveSalaryApprovalModel
@{
    var dateFormat = ExtensionMethod.GetDateFormat();
}
<div class="modal-dialog model-sm">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Leave Salary Approval</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <h5 class="text-primary">Application Details</h5>
            <div><span class="font-weight-bold">Transaction No: </span>@Model.TransNo</div>
            <div><span class="font-weight-bold">Employee: </span>@($"{Model.Emp}({Model.EmployeeCode.Trim()})")</div>
            <div><span class="font-weight-bold">Application Date: </span>@Model.TransDt.Value.ToString(dateFormat)</div>
            <div><span class="font-weight-bold">Approved Date: </span>@DateTime.Now.ToString(dateFormat)</div>
            <form id="leave-salary-approval-frm">
                <input type="hidden" asp-for="TransNo" />
                <input type="hidden" asp-for="TransDt" />
                <input type="hidden" asp-for="ApprLvl" />
                <input type="hidden" asp-for="ApprBy" />
                <input type="hidden" asp-for="Status" />
                <div class="row" id="approval-div">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LvSalary"></label>
                            <input asp-for="LvSalary" type="text" class="form-control int-input" data-max="@Model.LvSalary" />
                            <span asp-validation-for="LvSalary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LvTicket"></label>
                            <input asp-for="LvTicket" type="text" class="form-control int-input" data-max="@Model.LvTicket" />
                            <span asp-validation-for="LvTicket" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveLeaveSalaryApproval(this)" id="btn-submit">Approve</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>