@model EmpprovisionsadjModel
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@(!string.IsNullOrEmpty(Model.EmpCd) ? "Approve" : "Add") Employee Provision Adj.</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form id="emp-provision-adj-frm">
                <input type="hidden" asp-for="CurrentApprovalLevel" />
                <input type="hidden" asp-for="ApprBy" />
                <div class="@(!string.IsNullOrEmpty(Model?.EmpCd) ? "disabled-container" : "")">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group disabled-container">
                                <label asp-for="TransNo"></label>
                                <input asp-for="TransNo" class="form-control disabled" value="@Model.TransNo" />
                                <span asp-validation-for="TransNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TransDt"></label>
                                <input asp-for="TransDt" class="form-control date-input" type="text" />
                                <span asp-validation-for="TransDt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="EmpCd"></label>
                                <select asp-for="EmpCd" class="form-control select2 @(!string.IsNullOrEmpty(Model?.EmpCd) ? "disabled" : "")">
                                    <option value="@Model.EmpCd">@Model.Name</option>
                                </select>
                                <span asp-validation-for="EmpCd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group @(!string.IsNullOrEmpty(Model?.EmpCd) ? "disabled-container" : "")">
                                <label asp-for="ProvTyp"></label>
                                <select asp-for="ProvTyp" class="form-control select-picker @(!string.IsNullOrEmpty(Model?.EmpCd) ? "disabled" : "")" asp-items="ViewBag.ProvisionTypeItems">
                                </select>
                                <span asp-validation-for="ProvTyp" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Days"></label>
                                <input asp-for="Days" class="form-control int-input" type="text" />
                                <span asp-validation-for="Days" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Amt"></label>
                                <input asp-for="Amt" class="form-control decimal-input" />
                                <span asp-validation-for="Amt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Purpose"></label>
                                <textarea asp-for="Purpose" class="form-control"></textarea>
                                <span asp-validation-for="Purpose" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Narr"></label>
                                <textarea asp-for="Narr" class="form-control"></textarea>
                                <span asp-validation-for="Narr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model?.EmpCd))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ApprDt"></label>
                                <input asp-for="ApprDt" class="form-control date-input" type="text" />
                                <span asp-validation-for="ApprDt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Remarks"></label>
                                <textarea asp-for="Remarks" class="form-control"></textarea>
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-submit" class="btn btn-info" onclick="saveEmpProvisionAdj(this,'@(!string.IsNullOrEmpty(Model?.EmpCd) ?"true":null)')">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>