@model Employee_LeaveHistory_Detail
@{
    var dateFormat = ExtensionMethod.GetDateFormat();
    var leaveDetail = Model.EmpLeaveDetail;
    var WpDateRange = leaveDetail.FormatedWPFromDt.IsNotEmptyDate() || leaveDetail.FormatedWPToDt.IsNotEmptyDate() ? $"{leaveDetail.FormatedWPFromDt.ToString(dateFormat)} - {leaveDetail.FormatedWPToDt.ToString(dateFormat)}" : null;
    var WopDateRange = leaveDetail.FormatedWOPFromDt.IsNotEmptyDate() || leaveDetail.FormatedWOPToDt.IsNotEmptyDate() ? $"{leaveDetail.FormatedWOPFromDt.ToString(dateFormat)} - {leaveDetail.FormatedWOPToDt.ToString(dateFormat)}" : null;
    var WpDays = leaveDetail.FormatedWPFromDt.IsNotEmptyDate() || leaveDetail.FormatedWPToDt.IsNotEmptyDate() ? ExtensionMethod.GetDaysBetweenDateRange(leaveDetail.FormatedWPFromDt, leaveDetail.FormatedWPToDt) : 0;
    var WopDays = leaveDetail.FormatedWOPFromDt.IsNotEmptyDate() || leaveDetail.FormatedWOPToDt.IsNotEmptyDate() ? ExtensionMethod.GetDaysBetweenDateRange(leaveDetail.FormatedWOPFromDt, leaveDetail.FormatedWOPToDt) : 0;
    var totalIncome = Model.IncomeDetails.Where(m => m.Type != "Deductions").Sum(m => m.AmtVal);
    var totalDeductions = Model.IncomeDetails.Where(m => m.Type == "Deductions").Sum(m => m.AmtVal);

    var LeaveOpening = leaveDetail.LeaveOp;
    var LeaveCum = leaveDetail.Leave;
    var LeaveTotal = LeaveOpening + LeaveCum;
    var Leave = LeaveOpening + LeaveCum;
    var LeaveTaken = leaveDetail.LeaveTaken;
    var LeaveBalance = Leave - LeaveTaken;
    var LeaveEligibility = LeaveBalance >= leaveDetail.ReqLv ? "Yes" : "No";
    var LeaveEligibilityColor = LeaveEligibility == "Yes" ? "success" : "danger";

    var LeaveSalDaysOpening = leaveDetail.LvSalDaysOp;
    var LeaveSalDaysCum = leaveDetail.LvSalDays;
    var LeaveSalDaysTotal = LeaveSalDaysOpening + LeaveSalDaysCum;
    var LeaveSalDays = LeaveSalDaysOpening + LeaveSalDaysCum;
    var LeaveSalDaysTaken = leaveDetail.LvSalDaysTaken;
    var LeaveSalDaysBalance = LeaveSalDaysOpening + LeaveSalDays - LeaveSalDaysTaken;

    var LeaveSalOpening = leaveDetail.LvSalaryOp;
    var LeaveSalCum = leaveDetail.LvSalary;
    var LeaveSalTotal = LeaveSalOpening + LeaveSalCum;
    var LeaveSal = LeaveSalOpening + LeaveSalCum;
    var LeaveSalTaken = leaveDetail.LvSalaryTaken;
    var LeaveSalBalance = LeaveSalOpening + LeaveSal - LeaveSalTaken;
    var LeaveSalEligibility = LeaveSalBalance >= leaveDetail.LvSalYr ? "Yes" : "No";
    var LeaveSalEligibilityColor = LeaveSalEligibility == "Yes" ? "success" : "danger";

    var LeaveTicketOpening = leaveDetail.LvTicketOp;
    var LeaveTicketCum = leaveDetail.LvTicket;
    var LeaveTicketTotal = LeaveTicketOpening + LeaveTicketCum;
    var LeaveTicket = LeaveTicketOpening + LeaveTicketCum;
    var LeaveTicketTaken = leaveDetail.LvTicketTaken;
    var LeaveTicketBalance = LeaveTicketOpening + LeaveTicket - LeaveTicketTaken;
    var LeaveTicketEligibility = LeaveTicketBalance >= leaveDetail.LvTicYr ? "Yes" : "No";
    var LeaveTicketEligibilityColor = LeaveTicketEligibility == "Yes" ? "success" : "danger";
    var loggedInUser = _authService.GetLoggedInUser();
    var DecimalFormat = ExtensionMethod.GetDecimalFormat(loggedInUser.AmtDecs);
}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Leave Detail</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div id="print-container">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-primary">Employee Details</h5>
                        <div><span class="font-weight-bold">Name/Code: </span>@leaveDetail.Name (@leaveDetail.Code)</div>
                        <div><span class="font-weight-bold">Nationality : </span>@leaveDetail.Nationality</div>
                        <div><span class="font-weight-bold">Location : </span>@leaveDetail.Location</div>
                        <div><span class="font-weight-bold">Designation : </span>@leaveDetail.Designation</div>
                        <div><span class="font-weight-bold">Joined Date : </span>@leaveDetail.FormatedDoj.ToString(dateFormat)</div>
                        <div><span class="font-weight-bold">Last Rejoined Date : </span>@leaveDetail.LastRejoinDt.ToString(dateFormat)</div>
                        <div><span class="font-weight-bold">Total Days With Company : </span>@leaveDetail.TotalDays</div>
                        <div><span class="font-weight-bold">Outstanding  : </span>@Model.OutstandingDetail.Outstanding</div>
                        <div><span class="font-weight-bold">Leave Salary/Yr : </span>@leaveDetail.LvSalYr</div>
                        <div><span class="font-weight-bold">Leave Ticket/Yr : </span>@leaveDetail.LvTicYr</div>
                        <div><span class="font-weight-bold">This month Salary : </span>@(totalIncome - totalDeductions)</div>
                        <div><span class="font-weight-bold">Opening No Pay : </span>@leaveDetail.Cumlvnopay</div>
                        <div><span class="font-weight-bold">With Pay : </span>@WpDateRange (@WpDays days)</div>
                        <div><span class="font-weight-bold">Without Pay : </span>@WopDateRange (@WopDays days)</div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-primary">Approval Details</h5>
                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Approved By</th>
                                    <th>Approved Date</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.LeaveApprovalDetails)
                            {
                                <tr>
                                    <td>@item.LvApprBy</td>
                                    <td>@item.ApprDt.ToString(dateFormat)</td>
                                </tr>
                            }
                            @if (Model.LeaveApprovalDetails.Count() == 0)
                            {
                                <tfoot>
                                    <tr>
                                        <td colspan="2">@CommonMessage.EMPTYGRID</td>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                        <h5 class="text-primary">Salary Details</h5>
                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Description</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.IncomeDetails)
                            {
                                <tr>
                                    <td>@item.Des</td>
                                    <td>@item.AmtVal</td>
                                </tr>
                            }
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th>@(totalIncome - totalDeductions)</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <h5 class="text-primary mt-2">Balance Details</h5>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Type</th>
                                <th>Opening</th>
                                <th>Month Cum.</th>
                                <th>Total</th>
                                <th>Total Taken</th>
                                <th>Balance</th>
                                <th>Eligibility</th>
                            </tr>
                        </thead>
                        <tr>
                            <th>Leave</th>
                            <td>@LeaveOpening</td>
                            <td>@LeaveCum.ToString(DecimalFormat)</td>
                            <td>@LeaveTotal.ToString(DecimalFormat)</td>
                            <td>@LeaveTaken</td>
                            <td>@(LeaveBalance > 0 ? LeaveTotal.ToString(DecimalFormat) : 0)</td>
                            <td><span class="font-weight-bold text-@LeaveEligibilityColor">@LeaveEligibility</span></td>
                        </tr>
                        <tr>
                            <th>Leave Salary Days</th>
                            <td>@LeaveSalDaysOpening</td>
                            <td>@(LeaveSalDaysCum > 0 ? LeaveSalDaysCum.ToString(DecimalFormat) : 0)</td>
                            <td>@LeaveSalDaysTotal.ToString(DecimalFormat)</td>
                            <td>@LeaveSalDaysTaken</td>
                            <td>@(LeaveSalDaysBalance > 0 ? LeaveSalDaysTotal.ToString(DecimalFormat) : 0)</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>Leave Salary</th>
                            <td>@LeaveSalOpening</td>
                            <td>@(LeaveSalCum > 0 ? LeaveSalCum.ToString(DecimalFormat) : 0)</td>
                            <td>@LeaveSalTotal.ToString(DecimalFormat)</td>
                            <td>@LeaveSalTaken</td>
                            <td>@(LeaveSalBalance > 0 ? LeaveSalTotal.ToString(DecimalFormat) : 0)</td>
                            <td><span class="font-weight-bold text-@LeaveSalEligibilityColor">@LeaveSalEligibility</span></td>
                        </tr>
                        <tr>
                            <th>Leave Ticket</th>
                            <td>@LeaveTicketOpening</td>
                            <td>@(LeaveTicketCum > 0 ? LeaveTicketCum.ToString(DecimalFormat) : 0)</td>
                            <td>@LeaveTicketTotal.ToString(DecimalFormat)</td>
                            <td>@LeaveTicketTaken</td>
                            <td>@(LeaveTicketBalance > 0 ? LeaveTicketTotal.ToString(DecimalFormat) : 0)</td>
                            <td><span class="font-weight-bold text-@LeaveTicketEligibilityColor">@LeaveTicketEligibility</span></td>
                        </tr>
                    </table>
                </div>
                <h5 class="text-primary mt-2">Previous Exit & Entry Details</h5>
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date Range</th>
                            <th>With Pay(Days)</th>
                            <th>Without Pay(Days)</th>
                            <th>Total(Days)</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.PreviousLeaveHistory)
                    {
                        <tr>
                            <td>@item.FromDate.ToString(dateFormat) - @item.ToDate.ToString(dateFormat)</td>
                            <td>@item.WithPay</td>
                            <td>@item.WithoutPay</td>
                            <td>@item.Total</td>
                        </tr>
                    }
                    @if (Model.PreviousLeaveHistory.Count() == 0)
                    {
                        <tfoot>
                            <tr>
                                <td colspan="4">@CommonMessage.EMPTYGRID</td>
                            </tr>
                        </tfoot>
                    }
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-submit" class="btn btn-info" onclick="printDiv()">Print</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>