@model EmpDocIssueRcpt_GetRow_Result
<div class="modal-dialog modal-md" style="max-width:700px">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Renewal Document</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form id="document-frm">
                <input type="hidden" asp-for="SrNo" value="@Model.SrNo" />
                <input type="hidden" asp-for="Current_Approval_Level"/>
                <input type="hidden" asp-for="Current_Approval" />
                <input type="hidden" asp-for="Status" />
                <div class="form-group @(!string.IsNullOrEmpty(Model.EmployeeCode) ? "disabled-container" : "")">
                    <label asp-for="EmployeeCode"></label>
                    <select asp-for="EmployeeCode" class="form-control select2 @(!string.IsNullOrEmpty(Model.EmployeeCode) ? "disabled" : "")">
                        <option value="@Model.EmployeeCode">@Model.EmpName (@Model.EmployeeCode)</option>
                    </select>
                    <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                </div>
                <div class=" row">
                    <div class="col-md-6">
                        <div class="form-group @(!string.IsNullOrEmpty(Model.DocType) ? "disabled-container" : "")">
                            <label asp-for="DocType"></label>
                            <select asp-for="DocType" class="form-control select-picker @(!string.IsNullOrEmpty(Model.DocType) ? "disabled" : "")" asp-items="ViewBag.EmpDocTypeItems">
                            </select>
                            <span asp-validation-for="DocType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DocNo"></label>
                            <input asp-for="DocNo" class="form-control" />
                            <span asp-validation-for="DocNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IssueDt"></label>
                            <input asp-for="IssueDt" class="form-control date-input" type="text">
                            <span asp-validation-for="IssueDt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IssuePlace"></label>
                            <input asp-for="IssuePlace" class="form-control" />
                            <span asp-validation-for="IssuePlace" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TrnDt"></label>
                            <input asp-for="TrnDt" class="form-control date-input" type="text">
                            <span asp-validation-for="TrnDt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ExpDt"></label>
                            <input asp-for="ExpDt" class="form-control date-input" type="text">
                            <span asp-validation-for="ExpDt" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DocStat"></label>
                            <select asp-for="DocStat" class="form-control select-picker" asp-items="ViewBag.DocStatusItems">
                            </select>
                            <span asp-validation-for="DocStat" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Narr"></label>
                    <textarea asp-for="Narr" class="form-control"></textarea>
                    <span asp-validation-for="Narr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Files</label>
                    <div class="file-drop-area">
                        <span class="choose-file-button" id="doc-file-label">Choose files</span>
                        <span class="file-message">or drag and drop files here</span>
                        <input asp-for="DocFiles" class="file-input" onchange="filesPreview(this)">
                    </div>
                    <span asp-validation-for="DocFiles" class="text-danger"></span>
                </div>
                <div id="Files-Preview"></div>
                <div id="DocList"></div>
            </form>
        </div>
        <div class="modal-footer" style="display:block">
            <button type="button" class="btn btn-info" onclick="saveDocumentRenewalApproval(this)">Approve</button>
            <button type="button" class="btn btn-danger" onclick="saveDocumentRenewalApproval(this,true)">Reject</button>
            <button type="button" class="btn btn-default float-right" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>