@model EmpLeaveConfirmModel
@{
    var totalDays = Model.Salary_SinglePayrollAttendanceData.Sum(m => m.NoOfDays);
}
<input type="hidden" id="TotalWDays" value="@totalDays" />
<div class="row single-payroll-div d-none" id="single-payroll-container">
    <table class="table table-sm mt-2">
        <thead class="thead-dark">
            <tr>
                <th>W. Days</th>
                <th>Lv Paid</th>
                <th width="100">Lv Unpaid</th>
                <th width="100">Payable</th>
            </tr>
        </thead>
        @foreach (var item in Model.Salary_SinglePayrollAttendanceData.Select((value, i) => new { i, value }))
        {
            <tr>
                <td>
                    @item.value.NoOfDays
                    <input asp-for="@Model.Salary_SinglePayrollAttendanceData[item.i].NoOfDays" type="hidden" />
                    <input asp-for="@Model.Salary_SinglePayrollAttendanceData[item.i].DivCd" type="hidden" />
                </td>
                <td>
                    @item.value.P_HDays
                    <input asp-for="@Model.Salary_SinglePayrollAttendanceData[item.i].P_HDays" type="hidden" />
                </td>
                <td><input asp-for="@Model.Salary_SinglePayrollAttendanceData[item.i].Up_HDays" type="text" class="form-control form-control-sm int-input" onchange="LvPaidUpdate(this,'@item.i')" max="@item.value.NoOfDays" /></td>
                <td><input asp-for="@Model.Salary_SinglePayrollAttendanceData[item.i].Payable" type="text" class="form-control form-control-sm int-input disabled" onchange="LvPaidUpdate(this,'@item.i')" /></td>
            </tr>
        }
    </table>

    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Des</th>
                <th width="100">Amount</th>
            </tr>
        </thead>
        @foreach (var item in Model.Component_SinglePayrollAttendanceData.Select((value, i) => new { i, value }))
        {
            var amt = item.value.Amt;
            <tr>
                <td>@item.value.Des</td>
                <td>
                    <input asp-for="@Model.Component_SinglePayrollAttendanceData[item.i].UpdatedAmt" type="text" class="form-control form-control-sm int-input disabled" data-val="@amt" />
                    <input asp-for="@Model.Component_SinglePayrollAttendanceData[item.i].DesCd" type="hidden" />
                </td>
            </tr>
        }
    </table>
</div>