@{
    var companyCd = User.Claims.FirstOrDefault(m => m.Type == "CompanyCd")?.Value;
    var isAdmin = User.Claims.FirstOrDefault(m => m.Type == "UserCd")?.Value.Equals("001");
    var processId = Context.Request.Query["processId"];
    var loggedInUser = _authService.GetLoggedInUser();
    var permission = _commonService.GetPermissionsByProcessId(loggedInUser.UserLinkedTo, processId);
    ViewData["DecimalFormat"] = ExtensionMethod.GetDecimalFormat(loggedInUser.AmtDecs);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/images/logo.png" alt="Logo" height="120px">
        </div>
        <!-- Navbar -->
        @await Component.InvokeAsync("UserMenu")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/images/logo.png" alt="Logo" class="brand-image">
                <img src="~/images/small-logo.png" alt="Logo" class="collapse-brand-image">
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @await Component.InvokeAsync("LeftNav")
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 233.4px;">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0" id="page-header">@ViewData["Title"]<i class="fas fa-spinner fa-spin d-none" id="page-loader"></i></h1>
                        </div><!-- /.col -->
                        @if (ViewData["Title"]?.ToString() != "Home")
                        {
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    @if (ViewData["AdditionLinkWithTitle"] != null)
                                    {
                                        var additionalLink = ViewData["AdditionLinkWithTitle"].ToString().Split("_");
                                        <li class="breadcrumb-item"><a href="@additionalLink[1]">@additionalLink[0]</a></li>
                                    }
                                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                                </ol>
                            </div>
                        }
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <input type="hidden" id="LocalDateFormat" value="@ViewData["LocalDateFormat"]" />
                    <input type="hidden" id="AmtDecs" value="@loggedInUser.AmtDecs" />
                    <input type="hidden" id="CoCd" value="@companyCd" />
                    <input type="hidden" id="IsAdmin" value="@(isAdmin==true ? 1 :0)" />
                    <input type="hidden" id="ProcessId" value="@processId" />
                    <input type="hidden" id="EmpOrUser" value="@loggedInUser.UserOrEmployee" />
                    <input type="hidden" id="UserLinkedTo" value="@loggedInUser.UserLinkedTo" />
                    <input type="hidden" id="HasViewPermission" value="@permission?.UView" />
                    <input type="hidden" id="HasAddPermission" value="@permission?.UAdd" />
                    <input type="hidden" id="HasEditPermission" value="@permission?.UEdit" />
                    <input type="hidden" id="HasDeletePermission" value="@permission?.UDelete" />
                    <input type="hidden" id="HasPrintPermission" value="@permission?.UPrint" />
                    @RenderBody()
                </div>
            </section>
        </div>
        <div id="ChangePasswordModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="EmployeeLeaveApprovalModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="EmployeeLeaveSalaryApprovalModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="EmployeeLoanApprovalModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="EmpFundApprovalModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="EmployeeLeaveDetailModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="EmpProgressionModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="DocumentRenewModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <div id="EmpProvisionAdjModal" class="modal fade" role="dialog" tabindex='-1'></div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            Copyright &copy; @DateTime.Now.Year Onyx Designed & Developed By  <strong><a href="http://www.luminosofttechnologies.com/" target="_blank">Luminosoft Technologies</a>.</strong>
            All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <partial name="_Notification" />
    <partial name="_ScriptImports" />
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>