@{
    Layout = null;
    var loggedInUser = _authService.GetLoggedInUser();
    var companyDetail = _settingService.GetCompany(loggedInUser.CompanyCd, loggedInUser.CoAbbr);
    string add1 = !string.IsNullOrEmpty(companyDetail.Add2) ? $"{companyDetail.Add1}," : companyDetail.Add1;
    string add2 = !string.IsNullOrEmpty(companyDetail.Add3) ? $"{companyDetail.Add2}," : companyDetail.Add2;
}
<div class="col-12">
    <table style="width:100%">
        <tr>
            @if (!string.IsNullOrEmpty(companyDetail.Logo))
            {
                <td width="100">
                    <img src="~/uploads/company/@companyDetail.Logo" height="100" />
                </td>
            }
            <td class="text-left">
                <h4>
                    @companyDetail.CoName<br />
                    @add1 @add2 @companyDetail.Add3<br />
                    @companyDetail.Phone
                </h4>
            </td>
            <td class="text-right">
                <h5>
                    <span class="font-weight-bold">Print Date & Time:</span> @DateTime.Now
                </h5>
            </td>
        </tr>
    </table>
</div>
<h3 class="mb-3 text-center">@ViewData["Title"]</h3>