@model UserMenuModel
@{
    var companyCd = User.Claims.FirstOrDefault(m => m.Type == "loginCompanyCd")?.Value;
    var profilePic = !string.IsNullOrEmpty(Model.ProfilePic) ? $"/uploads/emp_photo/{companyCd}/{Model.ProfilePic}" : "/images/avatar.png";
}
<ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
            <img src="@profilePic" class="user-image img-circle border" alt="User Image">
            <span class="d-none d-md-inline">@(!string.IsNullOrEmpty(Model.EmployeeName) ? Model.EmployeeName : Model.Username)</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
            <!-- User image -->
            <li class="user-header" style="height:90px">
                <p>
                    @if (!string.IsNullOrEmpty(Model.EmployeeName))
                    {
                        <span>@Model.EmployeeName -</span>
                    }
                    @Model.Username
                    <small>Current period : @Model.CurrentPeriod</small>
                    <small>Current logged : @Model.CurrentLogged</small>
                </p>
            </li>
            <li class="user-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <a href="#" class="btn btn-sm btn-outline-secondary">Change Password</a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="#" class="btn btn-sm btn-outline-secondary">Change Company</a>
                    </div>
                </div>
                <!-- /.row -->
            </li>
            <li class="user-footer">
                <a href="javascript:void(0)" class="btn btn-primary btn-flat float-right" onclick="logOut(this)">Sign out</a>
            </li>
        </ul>
    </li>
</ul>