@model IEnumerable<Employee_LeaveHistory_GetRow_Result>
<div class="@ViewBag.TableResponsiveClass">
    <table class="table table-sm" id="BalanceTransactionsReportTable" style="font-size:x-small">
        <thead class="thead-dark">
            <tr>
                <th class="text-center border-right border-white align-middle" rowspan="2">Employee</th>
                <th class="text-center border-right border-white" colspan="5">Leave</th>
                <th class="text-center border-right border-white" colspan="5">Leave Salary Days</th>
                <th class="text-center border-right border-white" colspan="6">Leave Salary</th>
                <th class="text-center border-right border-white" colspan="6">Leave Ticket</th>
                <th class="text-center border-right border-white" colspan="2">Graduity</th>
            </tr>
            <tr>
                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>

                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>

                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>
                <th class="border-right border-white">Eligibility</th>

                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>
                <th class="border-right border-white">Eligibility</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Amt</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            var LeaveOpening = item.LeaveOp;
            var LeaveCum = item.Leave;
            var LeaveTotal = LeaveOpening + LeaveCum;
            var Leave = LeaveOpening + LeaveCum;
            var LeaveTaken = item.LeaveTaken;
            var LeaveBalance = LeaveOpening + Leave - LeaveTaken;

            var LeaveSalDaysOpening = item.LvSalDaysOp;
            var LeaveSalDaysCum = item.LvSalDays;
            var LeaveSalDaysTotal = LeaveSalDaysOpening + LeaveSalDaysCum;
            var LeaveSalDays = LeaveSalDaysOpening + LeaveSalDaysCum;
            var LeaveSalDaysTaken = item.LvSalDaysTaken;
            var LeaveSalDaysBalance = LeaveSalDaysOpening + LeaveSalDays - LeaveSalDaysTaken;

            var LeaveSalOpening = item.LvSalaryOp;
            var LeaveSalCum = item.LvSalary;
            var LeaveSalTotal = LeaveSalOpening + LeaveSalCum;
            var LeaveSal = LeaveSalOpening + LeaveSalCum;
            var LeaveSalTaken = item.LvSalaryTaken;
            var LeaveSalBalance = LeaveSalOpening + LeaveSal - LeaveSalTaken;
            var LeaveSalEligibility = LeaveSalBalance >= item.LvSalYr ? "Yes" : "No";

            var LeaveTicketOpening = item.LvTicketOp;
            var LeaveTicketCum = item.LvTicket;
            var LeaveTicketTotal = LeaveTicketOpening + LeaveTicketCum;
            var LeaveTicket = LeaveTicketOpening + LeaveTicketCum;
            var LeaveTicketTaken = item.LvTicketTaken;
            var LeaveTicketBalance = LeaveTicketOpening + LeaveTicket - LeaveTicketTaken;
            var LeaveTicketEligibility = LeaveTicketBalance >= item.LvTicYr ? "Yes" : "No";
            <tr>
                <td>@item.Name (@item.Code.Trim())</td>
                <td>@LeaveOpening</td>
                <td>@LeaveCum.FormatDouble(2)</td>
                <td>@LeaveTotal.FormatDouble(2)</td>
                <td>@LeaveTaken.FormatDouble(2)</td>
                <td>@LeaveBalance.FormatDouble(2)</td>
                <td>@LeaveSalDaysOpening.FormatDouble(2)</td>
                <td>@LeaveSalDaysCum.FormatDouble(2)</td>
                <td>@LeaveSalDaysTotal.FormatDouble(2)</td>
                <td>@LeaveSalDaysTaken.FormatDouble(2)</td>
                <td>@LeaveSalDaysBalance.FormatDouble(2)</td>
                <td>@LeaveSalOpening.FormatDouble(2)</td>
                <td>@LeaveSalCum.FormatDouble(2)</td>
                <td>@LeaveSalTotal.FormatDouble(2)</td>
                <td>@LeaveSalTaken.FormatDouble(2)</td>
                <td>@LeaveSalBalance.FormatDouble(2)</td>
                <td>@LeaveSalEligibility</td>
                <td>@LeaveTicketOpening.FormatDouble(2)</td>
                <td>@LeaveTicketCum.FormatDouble(2)</td>
                <td>@LeaveTicketTotal.FormatDouble(2)</td>
                <td>@LeaveTicketTaken.FormatDouble(2)</td>
                <td>@LeaveTicketBalance.FormatDouble(2)</td>
                <td>@LeaveTicketEligibility</td>
                <td>@item.GratDays.FormatDouble(2)</td>
                <td>@item.GratAmt.FormatDouble(2)</td>
            </tr>
        }
    </table>
</div>