@model IEnumerable<Employee_LeaveHistory_GetRow_Result>
@{
    var loggedInUser = _authService.GetLoggedInUser();
    var DecimalFormat = ExtensionMethod.GetDecimalFormat(loggedInUser.AmtDecs);
}
<div class="@ViewBag.TableResponsiveClass">
    <table class="table-sm table" id="BalanceTransactionsReportTable" style="font-size:x-small">
        <thead class="thead-dark">
            <tr>
                <th class="border-right border-white text-center align-middle" rowspan="2">Employee</th>
                <th class="border-right border-white text-center" colspan="5">Leave</th>
                <th class="border-right border-white text-center" colspan="5">Leave Salary Days</th>
                <th class="border-right border-white text-center" colspan="6">Leave Salary</th>
                <th class="border-right border-white text-center" colspan="6">Leave Ticket</th>
                <th class="border-right border-white text-center" colspan="2">Gratuity</th>
            </tr>
            <tr>
                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>

                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>

                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>
                <th class="border-right border-white">Eligibility</th>

                <th class="border-right border-white">Opening</th>
                <th class="border-right border-white">Cumm.</th>
                <th class="border-right border-white">Total</th>
                <th class="border-right border-white">Taken</th>
                <th class="border-right border-white">Balance</th>
                <th class="border-right border-white">Eligibility</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Amt</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            var LeaveOpening = item.LeaveOp;
            var LeaveCum = item.Leave;
            var LeaveTotal = LeaveOpening + LeaveCum;
            var LeaveTaken = item.LeaveTaken;
            var LeaveBalance = LeaveTotal - LeaveTaken;

            var LeaveSalDaysOpening = item.LvSalDaysOp;
            var LeaveSalDaysCum = item.LvSalDays;
            var LeaveSalDaysTotal = LeaveSalDaysOpening + LeaveSalDaysCum;
            var LeaveSalDaysTaken = item.LvSalDaysTaken;
            var LeaveSalDaysBalance = LeaveSalDaysTotal - LeaveSalDaysTaken;

            var LeaveSalOpening = item.LvSalaryOp;
            var LeaveSalCum = item.LvSalary;
            var LeaveSalTotal = LeaveSalOpening + LeaveSalCum;
            var LeaveSalTaken = item.LvSalaryTaken;
            var LeaveSalBalance = LeaveSalTotal - LeaveSalTaken;
            var LeaveSalEligibility = LeaveSalBalance >= item.LvSalYr ? "Yes" : "No";

            var LeaveTicketOpening = item.LvTicketOp;
            var LeaveTicketCum = item.LvTicket;
            var LeaveTicketTotal = LeaveTicketOpening + LeaveTicketCum;
            var LeaveTicketTaken = item.LvTicketTaken;
            var LeaveTicketBalance = LeaveTicketTotal - LeaveTicketTaken;
            var LeaveTicketEligibility = LeaveTicketBalance >= item.LvTicYr ? "Yes" : "No";
            <tr>
                <td>@item.Name (@item.Code.Trim())</td>
                <td>@LeaveOpening</td>
                <td>@LeaveCum.ToString(DecimalFormat)</td>
                <td>@LeaveTotal.ToString(DecimalFormat)</td>
                <td>@LeaveTaken.ToString(DecimalFormat)</td>
                <td>@LeaveBalance.ToString(DecimalFormat)</td>
                <td>@LeaveSalDaysOpening.ToString(DecimalFormat)</td>
                <td>@LeaveSalDaysCum.ToString(DecimalFormat)</td>
                <td>@LeaveSalDaysTotal.ToString(DecimalFormat)</td>
                <td>@LeaveSalDaysTaken.ToString(DecimalFormat)</td>
                <td>@LeaveSalDaysBalance.ToString(DecimalFormat)</td>
                <td>@LeaveSalOpening.ToString(DecimalFormat)</td>
                <td>@LeaveSalCum.ToString(DecimalFormat)</td>
                <td>@LeaveSalTotal.ToString(DecimalFormat)</td>
                <td>@LeaveSalTaken.ToString(DecimalFormat)</td>
                <td>@LeaveSalBalance.ToString(DecimalFormat)</td>
                <td>@LeaveSalEligibility</td>
                <td>@LeaveTicketOpening.ToString(DecimalFormat)</td>
                <td>@LeaveTicketCum.ToString(DecimalFormat)</td>
                <td>@LeaveTicketTotal.ToString(DecimalFormat)</td>
                <td>@LeaveTicketTaken.ToString(DecimalFormat)</td>
                <td>@LeaveTicketBalance.ToString(DecimalFormat)</td>
                <td>@LeaveTicketEligibility</td>
                <td>@item.GratDays.ToString(DecimalFormat)</td>
                <td>@item.GratAmt.ToString(DecimalFormat)</td>
            </tr>
        }
    </table>
</div>