@model IEnumerable<GetRepo_ExpiredDocument_Result>
<div class="table-responsive">
    <table class="table-sm table" id="DocExpiredReportTable">
        <thead class="thead-dark">
            <tr>
                <th>Type</th>
                <th>Cd</th>
                <th>Name</th>
                <th>Doc. No</th>
                <th>OthRefNo</th>
                <th>IssuePlace</th>
                <th>Issue Date</th>
                <th>Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.Cd</td>
                    <td>@item.Name</td>
                    <td>@item.DocNo</td>
                    <td>@item.OthRefNo</td>
                    <td>@item.IssuePlace</td>
                    <td>@item.IssueDt.FormatDate()</td>
                    <td>@item.ExpDt.FormatDate()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .div-table {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .thead, .tbody {
        display: table-header-group;
        display: table-row-group;
    }

    .tr {
        display: table-row;
    }

    .th, .td {
        display: table-cell;
        border: 1px solid #dee2e6;
        padding: 1.5rem;
        vertical-align: top;
    }

    .thead .th {
        background-color: #343a40;
        color: white;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    .tbody .td {
        padding: 10px;
        text-align: center;
        border-top: 1px solid #dee2e6;
    }

    .thead .th.group {
        background-color: #343a40;
        color: white;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    .thead .th.sub {
        background-color: #f8f9fa;
        color: black;
        font-weight: normal;
        padding: 10px;
        text-align: center;
    }
</style>