@model EmpTransactionModel
<div class="@ViewBag.TableResponsiveClass">
    <table class="table table-sm" id="EmpTransactions" style="font-size:x-small;">
        <thead class="thead-dark">
            <tr>
                @foreach (var columnName in ((IDictionary<string, object>)Model.ReportData[0]).Keys)
                {
                    if (columnName != "Prd")
                    {
                        <th>@columnName</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.ReportData)
            {
                <tr>
                    @foreach (var column in (IDictionary<string, object>)row)
                    {
                        if (column.Key != "Prd")
                        {
                            <td>@column.Value</td>
                        }
                    }
                </tr>
            }
        </tbody>
        @if (Model.ReportData.Count() > 0)
        {
            <tfoot>
                <tr class="table-secondary">
                    @foreach (var columnName in ((IDictionary<string, object>)Model.ReportData[0]).Keys)
                    {
                        if (columnName != "Prd")
                        {
                            <td>
                                @if (Model.Totals != null && Model.Totals.ContainsKey(columnName))
                                {
                                    @Model.Totals[columnName]
                                }
                                else
                                {
                                    @Html.Raw("&nbsp;")
                                }
                            </td>
                        }
                    }
                </tr>
            </tfoot>
        }
        else
        {
            <tfoot>
                <tr>
                    <td>@CommonMessage.EMPTYGRID</td>
                </tr>
            </tfoot>
        }
    </table>
</div>