@model dynamic
@{
    IEnumerable<EmpLeaveMaster_GetRow_Result> data = Model.Data;
    var ReportType = Model.ReportType;
    var dateFormat = ExtensionMethod.GetDateFormat();
}
<div class="table-responsive">
    <table class="table table-sm" id="LeaveMasterReportTable">
        <thead class="thead-dark">
            <tr>
                <th>Employee</th>
                @if (ReportType == "LeaveMaster")
                {
                    <th>Leave Type</th>
                    <th>Max. Leave</th>
                }
                <th>Opening Bal.</th>
                <th>Used</th>
                <th>Accrued</th>
                <th>Cum.Unpaid</th>
                @if (ReportType != "LeaveMaster")
                {
                    <th>Balance</th>
                    <th>Leave Due Date</th>
                }
            </tr>
        </thead>
        @foreach (var item in data)
        {
            <tr>
                <td>@item.EmpName (@item.EmpCd.Trim())</td>
                @if (ReportType == "LeaveMaster")
                {
                    <td>@item.LvTyp</td>
                    <td>@item.MaxLv.ToString(ViewData["DecimalFormat"].ToString())</td>
                }
                <td>@item.LvOpBal.ToString(ViewData["DecimalFormat"].ToString())</td>
                <td>@item.LvUsed.ToString(ViewData["DecimalFormat"].ToString())</td>
                <td>@item.LvAccr.ToString(ViewData["DecimalFormat"].ToString())</td>
                <td>@item.CumLvNoPay.Value.ToString(ViewData["DecimalFormat"].ToString())</td>
                @if (ReportType != "LeaveMaster")
                {
                    <td>@item.BalanceLeave.ToString(ViewData["DecimalFormat"].ToString())</td>
                    <td>@item.LeaveDueDate.FormatDate()</td>
                }
            </tr>
        }
    </table>
</div>