@model List<dynamic>
@{
    var loggedInUser = _authService.GetLoggedInUser();
    var DecimalFormat = ExtensionMethod.GetDecimalFormat(loggedInUser.AmtDecs);
}
<div class="@ViewBag.TableResponsiveClass h-600px">
    <table class="table-sm table" id="EmpLeaveAnalysisReportTable" style="font-size:x-small;">
        <thead class="thead-dark">
            <tr>
                @foreach (var columnName in ((IDictionary<string, object>)Model[0]).Keys)
                {
                    <th>@columnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    @foreach (var column in (IDictionary<string, object>)row)
                    {
                        <td>@column.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@* <div class="table-responsive">
    <table class="table-sm table" id="EmpLeaveAnalysisReportTable" style="font-size:small">
        <thead class="thead-dark">
            <tr>
                <th data-field="TransNo">Trans. No</th>
                <th>Employee</th>
                <th>Branch</th>
                <th>Department</th>
                <th>Leave Type</th>
                <th>Status</th>
                <th data-field="FormatedLvApprDt">Appr. Date</th>
                <th>Applied DateRange</th>
                <th>Wp DateRange</th>
                <th>Wop DateRange</th>
                <th data-field="JoinDt">Rejoin Date</th>
                <th>Days</th>
                <th>Lv. Salary</th>
                <th>Lv. Ticket</th>
                <th>Remarks</th>
                <th>Narration</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TransNo</td>
                <td>@item.Employee (@item.EmpCd.Trim())</td>
                <td>@item.Branch</td>
                <td>@item.Dept</td>
                <td>@item.LeaveType</td>
                <td>@item.LvStatus</td>
                <td>@item.FormatedLvApprDt.FormatDate()</td>
                <td>@item.LvFromDt.FormatDate() - @item.LvToDt.FormatDate()</td>
                <td>@item.FormatedWP_FromDt.FormatDate() - @item.FormatedWP_ToDt.FormatDate()</td>
                <td>@item.FormatedWOP_FromDt.FormatDate() - @item.FormatedWOP_ToDt.FormatDate()</td>
                <td>@item.JoinDt.FormatDate()</td>
                <td>@item.Days</td>
                <td>@item.Lvsalary.ToString(DecimalFormat)</td>
                <td>@item.Lvfare.ToString(DecimalFormat)</td>
                <td>@item.Remarks</td>
                <td>@item.Narr</td>
            </tr>
        }
    </table>
</div> *@