@model IEnumerable<GetRepo_Provisions_Result>
@{
    var dateFormat = ExtensionMethod.GetDateFormat();
}
<div class="@ViewBag.TableResponsiveClass">
    <table class="table table-sm" id="ProvisionsReportTable" style="font-size:x-small">
        <thead class="thead-dark">
            <tr>
                <th class="text-center border-right border-white align-middle" rowspan="2">Employee</th>
                <th class="text-center border-right border-white align-middle" rowspan="2">DOJ</th>
                <th class="text-center border-right border-white align-middle" rowspan="2">Days<br /> Worked</th>
                <th class="text-center border-right border-white align-middle" rowspan="2">Prov. Rate</th>
                <th class="text-center border-right border-white" colspan="2">Opening Balance</th>
                <th class="text-center border-right border-white" colspan="3">This Month Amt</th>
                <th class="text-center border-right border-white" colspan="3">This Month Days</th>
                <th class="text-center border-right border-white" colspan="3">Cummulative Amt</th>
                <th class="text-center border-right border-white" colspan="3">Cummulative Days</th>
                <th class="text-center border-right border-white" colspan="2">Balance</th>
            </tr>
            <tr>
                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Amount</th>

                <th class="border-right border-white">Amount</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Amount</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Amount</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name (@item.Cd.Trim())</td>
                <td>@item.DOJ.ToString(dateFormat)</td>
                <td class="text-center">@item.DaysWorked</td>
                <td class="text-center">@item.PrRate</td>

                <td>@item.OpDays.FormatDouble(2)</td>
                <td>@item.OpAmt.FormatDouble(2)</td>

                <td>@item.GTMAmt.FormatDouble(2)</td>
                <td>@item.GTMPay.FormatDouble(2)</td>
                <td>@item.GTMAdj.FormatDouble(2)</td>

                <td>@item.GTMDays.FormatDouble(2)</td>
                <td>@item.GTMDaysPay.FormatDouble(2)</td>
                <td>@item.GTMDaysAdj.FormatDouble(2)</td>

                <td>@item.GTCAmt.FormatDouble(2)</td>
                <td>@item.GTCPay.FormatDouble(2)</td>
                <td>@item.GTCAdj.FormatDouble(2)</td>

                <td>@item.GTCDays.FormatDouble(2)</td>
                <td>@item.GTCDaysPay.FormatDouble(2)</td>
                <td>@item.GTCDaysAdj.FormatDouble(2)</td>

                <td>@item.GTCDays.FormatDouble(2)</td>
                <td>@item.GTCAmt.FormatDouble(2)</td>
            </tr>
        }
    </table>
</div>