@model IEnumerable<GetRepo_Provisions_Result>
@{
    var dateFormat = ExtensionMethod.GetDateFormat();
    var loggedInUser = _authService.GetLoggedInUser();
    var DecimalFormat = ExtensionMethod.GetDecimalFormat(loggedInUser.AmtDecs);
}
<div class="@ViewBag.TableResponsiveClass">
    <table class="table table-sm" id="ProvisionsReportTable" style="font-size:x-small">
        <thead class="thead-dark">
            <tr>
                <th class="text-center border-right border-white align-middle" rowspan="2">Employee</th>
                <th class="text-center border-right border-white align-middle" rowspan="2">DOJ</th>
                <th class="text-center border-right border-white align-middle" rowspan="2">Days<br /> Worked</th>
                <th class="text-center border-right border-white align-middle" rowspan="2">Prov. Rate</th>
                <th class="text-center border-right border-white" colspan="2">Opening Balance</th>
                <th class="text-center border-right border-white" colspan="3">This Month Amt</th>
                <th class="text-center border-right border-white" colspan="3">This Month Days</th>
                <th class="text-center border-right border-white" colspan="3">Cummulative Amt</th>
                <th class="text-center border-right border-white" colspan="3">Cummulative Days</th>
                <th class="text-center border-right border-white" colspan="2">Balance</th>
            </tr>
            <tr>
                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Amount</th>

                <th class="border-right border-white">Amount</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Amount</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Paid</th>
                <th class="border-right border-white">Adj.</th>

                <th class="border-right border-white">Days</th>
                <th class="border-right border-white">Amount</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name (@item.Cd.Trim())</td>
                <td>@item.DOJ.ToString(dateFormat)</td>
                <td class="text-center">@item.DaysWorked</td>
                <td class="text-center">@item.PrRate</td>

                <td>@item.OpDays.ToString(DecimalFormat)</td>
                <td>@item.OpAmt.ToString(DecimalFormat)</td>

                <td>@item.GTMAmt.ToString(DecimalFormat)</td>
                <td>@item.GTMPay.ToString(DecimalFormat)</td>
                <td>@item.GTMAdj.ToString(DecimalFormat)</td>

                <td>@item.GTMDays.ToString(DecimalFormat)</td>
                <td>@item.GTMDaysPay.ToString(DecimalFormat)</td>
                <td>@item.GTMDaysAdj.ToString(DecimalFormat)</td>

                <td>@item.GTCAmt.ToString(DecimalFormat)</td>
                <td>@item.GTCPay.ToString(DecimalFormat)</td>
                <td>@item.GTCAdj.ToString(DecimalFormat)</td>

                <td>@item.GTCDays.ToString(DecimalFormat)</td>
                <td>@item.GTCDaysPay.ToString(DecimalFormat)</td>
                <td>@item.GTCDaysAdj.ToString(DecimalFormat)</td>

                <td>@item.GTCDays.ToString(DecimalFormat)</td>
                <td>@item.GTCAmt.ToString(DecimalFormat)</td>
            </tr>
        }
    </table>
</div>