@{
    ViewData["Title"] = "Employee Short List Report";
    string[] columns = { "Emp Name (Code)", "Sex", "Marital Status", "Branch", "Department", "Location", "Designation", "Sponsor", "Date Of Birth", "Date Of Join", "Reporting To", "Basic", "Total", "Fare Eligibility", "Pay Mode", "Pay Frequency", "Status", "Passport No", "Passport Exp. Date", "Visa No", "Visa Exp. Date", "Emirate Id", "Phone No.", "Email Id", "Nationality" };
}
@model EmpShortListFilterModel
<div class="card">
    <div class="card-body">
        <form id="filter-frm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EmpCd"></label>
                        <select asp-for="EmpCd" class="form-control select2" data-placeholder="@CommonSetting.ALLSELECT">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Branches"></label>
                        <select class="form-control filter-select-picker" asp-for="Branches" asp-items="ViewBag.BranchItems" multiple data-selected-text-format="count > 1" data-actions-box="true"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <select asp-for="Department" class="form-control filter-select-picker" asp-items="ViewBag.DepartmentItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Designation"></label>
                        <select asp-for="Designation" class="form-control filter-select-picker" asp-items="ViewBag.DesignationItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Sponsors"></label>
                        <select asp-for="Sponsors" class="form-control filter-select-picker" asp-items="ViewBag.SponsorItems" multiple data-selected-text-format="count > 1" data-actions-box="true"></select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Period"></label>
                        <input asp-for="Period" value="@ViewBag.currentMonthYear" class="form-control month-year-input" type="text" data-toggle="datetimepicker">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Nationalities"></label>
                        <select asp-for="Nationalities" class="form-control filter-select-picker" asp-items="ViewBag.NationalityItems" multiple data-selected-text-format="count > 1" data-actions-box="true">
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Age"></label>
                        <select class="form-control filter-select-picker" asp-for="Age">
                            @for (int i = 18; i < 65; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Qualification"></label>
                        <select asp-for="Qualification" class="form-control filter-select-picker" asp-items="ViewBag.QualificationItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="EmployeeTypes"></label>
                        <select asp-for="EmployeeTypes" class="form-control filter-select-picker" asp-items="ViewBag.EmpTypeItems" multiple data-selected-text-format="count > 1" data-actions-box="true"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Statuses"></label>
                        <select asp-for="Statuses" class="form-control filter-select-picker" asp-items="ViewBag.StatusItems" multiple data-selected-text-format="count > 1" data-actions-box="true"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Column Visibility</label>
                        <select id="VisibleColumns" name="VisibleColumns" class="form-control select-picker" multiple data-selected-text-format="count > 1" data-actions-box="true" title="@CommonSetting.DEFAULTSELECT">
                            @for (int i = 0; i < columns.Length; i++)
                            {
                                <option value="@i" selected>@columns[i]</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="custom-control custom-checkbox">
                    <input checked class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="Active">
                    <label asp-for="Active" class="custom-control-label font-weight-normal">Active</label>
                </div>
            </div>
            <div class="report-btn-div mb-3" style="margin-top:15px !important">
                <button class="btn btn-secondary" onclick="filterShowReport(this)">Search</button>
                <button class="btn btn-outline-danger ml-2 d-none" onclick="filterShowReport(this,true)" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
                <button class="btn btn-outline-info ml-2 d-none" id="btn-excel"><i class="fa fa-file-excel"></i></button>
            </div>
        </form>
        <div id="EmpShortList"></div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script>
        bindEmployeeDropdown();
        function loadGridData(btn) {
            loadingButton(btn);
            var frm = $("#filter-frm").serialize();
            var url = `/Reports/FetchEmpShortListData?${frm}`;
            $('#EmpShortList').load(url, function () {
                unloadingButton(btn);
                window["datatable"] = $('#EmpShortListReportTable').DataTable(dataTableDefaultOptions);
                if (window["datatable"].data().any())
                    $("#btn-pdf,#btn-excel").removeClass("d-none");
            });
        }
        function filterShowReport(btn, report) {
            loadGridData(btn);
            if (report) {
                var frm = $("#filter-frm").serialize();
                var url = `/Reports/EmpShortListReport?${frm}`;
                window.open(url);
            }
        }
        $('#VisibleColumns').on('change', function (e) {
            var selectedColumns = $(this).val();
            for (var i = 0; i < window["datatable"].columns().count(); i++) {
                var column = window["datatable"].column(i);
                if (selectedColumns.includes(i.toString()))
                    column.visible(true);
                else
                    column.visible(false);
            }
        });
    </script>
}