@model Token_Getrow_Result
<div class="ticket" id="print-container">
    <h4>@ViewBag.CompanyName</h4>
    <h5>@Model.ServiceName</h5>
    <div class="ticket-info text-secondary">Your queue number</div>
    <div class="ticket-number text-primary">@Model.TokenNo</div>
    <div class="ticket-info py-3">
        <span class="badge badge-secondary" style="border-radius: 50%;">@ViewBag.CustomerAhead</span>
        Customers ahead of you
    </div>
    <div class="ticket-info">
        Your queue number will be called soon, please come to the centre.
    </div>
    <div class="ticket-footer">
        Date of issue: @DateTime.Now<br />
        Powered by: Onyx
    </div>
</div>