@{
    var loggedInUser = _authService.GetLoggedInUser();
    Employee_GetRow_Result EmployeeDetail = ViewBag.EmployeeDetail;
    EmpAddress_GetRow_Result EmpContactDetail = ViewBag.EmpContactDetail;
    var avatarFileExist = EmployeeDetail.ImageFilePath.FileExist("emp-photo", loggedInUser.CompanyCd);
    var avatarImage = avatarFileExist == true && !string.IsNullOrEmpty(EmployeeDetail.ImageFilePath) ? $"/uploads/{loggedInUser.CompanyCd}/emp-photo/{EmployeeDetail.ImageFilePath}" : "/images/avatar.png";
    var address = $"{EmpContactDetail.AddressLine1}, {EmpContactDetail.AddressLine2}, {EmpContactDetail.AddressLine3}";
    var servicePeriodDays = (DateTime.Now - EmployeeDetail.DOJ).Days;
    var servicePeriod = ExtensionMethod.ConvertDaysToYearsMonthsDays(servicePeriodDays);
}
<div class="row">
    <div class="col-7">
        <p class="text-muted text-sm mb-0"><b>Code: </b> @EmployeeDetail.Cd</p>        
        <p class="text-muted text-sm mb-0"><b>Branch: </b> @EmployeeDetail.Branch</p>
        <p class="text-muted text-sm mb-0"><b>Sponsor: </b> @EmployeeDetail.Sponsor</p>
        <p class="text-muted text-sm mb-0"><b>Designation: </b> @EmployeeDetail.Designation</p>
        <p class="text-muted text-sm mb-0"><b>Department: </b> @EmployeeDetail.Department</p>
        <p class="text-muted text-sm mb-0"><b>Location: </b> @EmployeeDetail.Location</p>
        <p class="text-muted text-sm mb-0"><b>Type: </b> @EmployeeDetail.EmpType</p>
    </div>
    <div class="col-5 text-center">
        <img src="@avatarImage" alt="user-avatar" class="rounded img-fluid border" style="height: 150px;">
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <p class="text-muted text-sm mb-0"><b>Nationality: </b>@EmployeeDetail.Nationality</p>
        <p class="text-muted text-sm mb-0"><b>Date of Birth: </b> @EmployeeDetail.DOB.FormatDate()</p>
        <p class="text-muted text-sm mb-0"><b>Date of Join: </b> @EmployeeDetail.DOJ.FormatDate()</p>
        <p class="text-muted text-sm mb-0"><b>Confirmation: </b> @EmployeeDetail.Confirm.Value.FormatDate()</p>
        <p class="text-muted text-sm mb-0"><b>Probation: </b> @EmployeeDetail.Probation.Value.FormatDate()</p>
        <p class="text-muted text-sm mb-0"><b>Status: </b> @EmployeeDetail.Status</p>
    </div>
    <div class="col-md-7">
        <h5 class="lead mt-3 mb-0 text-center text-primary"><b>@EmployeeDetail.Salutation @EmployeeDetail.Name</b></h5>
        <p class="text-muted text-sm mb-0"><b>Service Period: </b> @servicePeriod</p>
        <p class="text-muted text-sm mb-0"><b>S/O: </b> @EmployeeDetail.Father</p>
        <p class="text-muted text-sm mb-0"><b>Email: </b> @EmpContactDetail?.Email</p>
        <p class="text-muted text-sm mb-0"><b>Mob No.: </b> @EmpContactDetail?.Mobile</p>
        <p class="text-muted text-sm mb-0"><b>Address: </b> @address</p>
    </div>
</div>