@{
    ViewData["Title"] = "Dashboard";
    List<string> drpItems = ["30", "60", "90", "120", "150"];
    var typeItems = new List<SelectListItem>{
        new SelectListItem{Value="EMP",Text="Employee",Selected=true},
        new SelectListItem{Value="COM",Text="Company"},
        new SelectListItem{Value="VEH",Text="Vehicle"},
    };
    var noOfDaysItems = drpItems.Select(m => new SelectListItem { Text = $"{m} days", Value = m, Selected = m == "30" });
    EmplLoanAndLeaveApproval EmplLoanAndLeaveApproval = ViewBag.EmplLoanAndLeaveApproval;
    var loggedInUser = _authService.GetLoggedInUser();
    Employee_GetRow_Result EmployeeDetail = ViewBag.EmployeeDetail;
    EmpAddress_GetRow_Result EmpContactDetail = ViewBag.EmpContactDetail;

    IEnumerable<EmpDocuments_GetRow_Result> empDocs = ViewBag.EmpDocs;
    IEnumerable<CalendarModel> BirthDayEvents = ViewBag.BirthDayEvents;
    var groupedEvents = BirthDayEvents.GroupBy(m => new { m.Start });
}
<link rel="stylesheet" href="~/plugins/fullcalendar/main.css">
@if (loggedInUser.UserOrEmployee == "E")
{
    var avatarFileExist = EmployeeDetail.ImageFilePath.FileExist("emp-photo", loggedInUser.CompanyCd);
    var avatarImage = avatarFileExist == true && !string.IsNullOrEmpty(EmployeeDetail.ImageFilePath) ? $"/uploads/{loggedInUser.CompanyCd}/emp-photo/{EmployeeDetail.ImageFilePath}" : "/images/avatar.png";
    var address = $"{EmpContactDetail.AddressLine1}, {EmpContactDetail.AddressLine2}, {EmpContactDetail.AddressLine3}";
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 d-flex align-EmployeeDetails-stretch flex-column">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <p class="text-muted text-sm mb-0"><b>Code: </b> @EmployeeDetail.Cd</p>
                            <p class="text-muted text-sm mb-0"><b>Branch: </b> @EmployeeDetail.Branch</p>
                            <p class="text-muted text-sm mb-0"><b>Sponsor: </b> @EmployeeDetail.Sponsor</p>
                            <p class="text-muted text-sm mb-0"><b>Designation: </b> @EmployeeDetail.Designation</p>
                            <p class="text-muted text-sm mb-0"><b>Department: </b> @EmployeeDetail.Department</p>
                            <p class="text-muted text-sm mb-0"><b>Location: </b> @EmployeeDetail.Location</p>
                            <p class="text-muted text-sm mb-0"><b>Type: </b> @EmployeeDetail.EmpType</p>
                        </div>
                        <div class="col-5 text-center">
                            <img src="@avatarImage" alt="user-avatar" class="rounded img-fluid border" style="height: 150px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <p class="text-muted text-sm mb-0"><b>Nationality: </b>@EmployeeDetail.Nationality</p>
                            <p class="text-muted text-sm mb-0"><b>Date of Birth: </b> @EmployeeDetail.DOB.Value.FormatDate()</p>
                            <p class="text-muted text-sm mb-0"><b>Date of Join: </b> @EmployeeDetail.DOJ.Value.FormatDate()</p>
                            <p class="text-muted text-sm mb-0"><b>Confirmation: </b> @EmployeeDetail.Confirm.Value.FormatDate()</p>
                            <p class="text-muted text-sm mb-0"><b>Probation: </b> @EmployeeDetail.Probation.Value.FormatDate()</p>
                            <p class="text-muted text-sm mb-0"><b>Status: </b> @EmployeeDetail.Status</p>
                        </div>
                        <div class="col-md-5">
                            <h4 class="lead mb-0 text-center text-primary"><b>@EmployeeDetail.Salutation @EmployeeDetail.Name</b></h4>
                            <p class="text-muted text-sm mb-0"><b>S/O: </b> @EmployeeDetail.Father</p>
                            <p class="text-muted text-sm mb-0"><b>Email: </b> @EmpContactDetail?.Email</p>
                            <p class="text-muted text-sm mb-0"><b>Mob No.: </b> @EmpContactDetail?.Mobile</p>
                            <p class="text-muted text-sm mb-0"><b>Address: </b> @address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-label text-primary">
                        My Documents
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Doc Type</th>
                                <th>Doc No</th>
                                <th>Expiry Date</th>
                                <th>Days</th>
                            </tr>
                        </thead>
                        @foreach (var item in empDocs)
                        {
                            var days = (item.ExpDt - DateTime.Now).Days;
                            <tr>
                                <td>@item.DocTypSDes</td>
                                <td>@item.DocNo</td>
                                <td>@item.ExpDt.FormatDate()</td>
                                <td><span class="badge badge-info">@days day(s)</span></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-white">
            <div class="inner">
                <h3>@EmplLoanAndLeaveApproval.Working</h3>
                <p>Present Employee</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-white">
            <div class="inner">
                <h3>@EmplLoanAndLeaveApproval.OnLeave</h3>
                <p>Employee on Leave</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-white">
            <div class="inner">
                <h3>@EmplLoanAndLeaveApproval.LeaveApplied</h3>
                <p>Employee Leave Applied</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-white">
            <div class="inner">
                <h3>@EmplLoanAndLeaveApproval.LoanRecoveryAmount</h3>
                <p>Loan Recovery Amount</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-label text-primary mr-auto">
                    Document Expiry Waiting List
                </h4>
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="mr-auto">
                        @foreach (var status in typeItems)
                        {
                            <label class="radio-inline mb-0">
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="DocExpiredType" class="custom-control-input custom-control-input-primary custom-control-input-outline" id="type_@status.Value" value="@status.Value" onchange="showExpiredDocuments()">
                                    <label for="type_@status.Value" class="custom-control-label font-weight-normal">@status.Text</label>
                                </label>
                            </label>
                        }
                    </div>
                    <label class="mb-0">No of Days Before</label>
                    <div class="col-md-3">
                        <select id="ExpiredDocNoOfDays" class="form-control dashboard-select-picker" asp-items="noOfDaysItems" onchange="showExpiredDocuments()">
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height: 575px; overflow:auto">
                <table class="table table-sm" id="ExpiredDocDataTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Employee</th>
                            <th>Doc. Type</th>
                            <th>Doc. No.</th>
                            <th>Expiry Date</th>
                            <th>Days</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <!-- Toolbar -->
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <h4 class="card-label text-primary mr-auto">
                        Leave List
                    </h4>
                    <label class="mb-0">No of Days</label>
                    <div class="col-md-3">
                        <select id="EmpLeaveNoOfDays-3" class="form-control dashboard-select-picker" asp-items="noOfDaysItems" onchange="showEmpLeave(3)">
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height: 610px; overflow:auto">
                <table class="table table-sm" id="EmpLeaveDataTable-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Employee</th>
                            <th>Duration</th>
                            <th>Days</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <h4 class="card-label text-primary mr-auto">
                        Not Joined List
                    </h4>
                    <label class="mb-0">No of Days</label>
                    <div class="col-md-3">
                        <select id="EmpLeaveNoOfDays-5" class="form-control dashboard-select-picker" asp-items="noOfDaysItems" onchange="showEmpLeave(5)">
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height: 535px; overflow:auto">
                <table class="table table-sm" id="EmpLeaveDataTable-5">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Employee</th>
                            <th>Duration</th>
                            <th>Days</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <!-- Toolbar -->
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <h4 class="card-label text-primary mr-auto">
                        Return List
                    </h4>
                    <label class="mb-0">No of Days</label>
                    <div class="col-md-3">
                        <select id="EmpLeaveNoOfDays-4" class="form-control dashboard-select-picker" asp-items="noOfDaysItems" onchange="showEmpLeave(4)">
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height: 535px; overflow:auto">
                <table class="table table-sm" id="EmpLeaveDataTable-4">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Employee</th>
                            <th>Duration</th>
                            <th>Days</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <h4 class="card-label text-primary mr-auto">
                        Employee Analysis
                    </h4>
                    <label class="mb-0">Type</label>
                    <div class="col-md-3">
                        <select id="Chart-Type" class="form-control dashboard-select-picker" onchange="showChart()">
                            <option value="Dept">Department</option>
                            <option value="Branch">Branch</option>
                            <option value="Nationality">Nationality</option>
                            <option value="Location">Location</option>
                            <option value="Status">Status</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <h4 class="card-label text-primary">
                        Yearly Salary Graph
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <canvas id="myLineChart" style="height:335px"></canvas>
                @* <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    @foreach (var item in EmplLoanAndLeaveApproval.SalaryDetails)
                    {
                        <tr>
                            <td>@item.Des</td>
                            <td>@item.PayElementDetailsCount</td>
                        </tr>
                    }
                </table> *@
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <h4 class="card-label text-primary">
                        Birthday/Work Anniversary
                    </h4>
                </div>
            </div>
            <div class="card-body" style="height:500px;overflow:auto">
                <table class="table table-sm">
                    @foreach (var grp in groupedEvents)
                    {
                        <thead class="thead-light">
                            <tr>
                                <th style="padding-left: 8px;">@grp.Key.Start</th>
                            </tr>
                        </thead>
                        foreach (var item in grp)
                        {
                            <tr>
                                <td><i class="fas fa-circle icon-sm mr-2" style="font-size:x-small;color:@item.BackgroundColor"></i>@item.Title</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="btn-toolbar d-flex align-items-center" role="toolbar" aria-label="Toolbar with button groups">
                    <h4 class="card-label text-primary">
                        Head Count
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Description</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    @foreach (var item in EmplLoanAndLeaveApproval.HeadCounts)
                    {
                        <tr>
                            <td>@item.Des</td>
                            <td>@item.HeadCount</td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>

</div>
<style>
    .tooltip-inner {
        max-width: 300px;
    }
</style>
@section scripts {
    <script src="~/plugins/chart.js/chart.min.js"></script>
    <script src="~/plugins/fullcalendar/main.js"></script>
    <script src="~/js/page/dashboard.js" asp-append-version="true"></script>
}