@using System.Text.Json;
@using System.Globalization
@{
    ViewData["Title"] = SharedResource["Dashboard"];
    var loggedInUser = _authService.GetLoggedInUser();
    EmplLoanAndLeaveApproval EmplLoanAndLeaveApproval = ViewBag.EmplLoanAndLeaveApproval;
    IEnumerable<GetMenuWithPermissions_Result> quickLinkItems = ViewBag.QuickLinkItems;
    Employee_GetRow_Result EmployeeDetail = ViewBag.EmployeeDetail;
    EmpAddress_GetRow_Result EmpContactDetail = ViewBag.EmpContactDetail;
    var currentCulture = CultureInfo.CurrentCulture.Name;
    bool rtl = currentCulture == "ar" || currentCulture == "fa";
    var DecimalFormat = ExtensionMethod.GetDecimalFormat(loggedInUser.AmtDecs);
}
@if (!rtl)
{
    <link href="~/plugins/gridstack/gridstack.min.css" rel="stylesheet" />
}
else
{
    <link href="~/plugins/gridstack/gridstack-rtl.min.css" rel="stylesheet" />
}
@if (quickLinkItems.Count() > 0 || loggedInUser.UserOrEmployee == "E")
{
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <h5>Quick Links</h5>
                    @foreach (var item in quickLinkItems)
                    {
                        <a href="@item.Frm?processId=@item.ProcessId" class="dashboard-quicklinks">@item.Caption</a>
                    }
                    @if (loggedInUser.UserOrEmployee == "E")
                    {
                        <a href="javascript:void(0)" class="dashboard-quicklinks" data-toggle="modal" data-target="#PayslipDownloadModal">Download Payslip</a>
                    }
                </div>
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-info font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Widget
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" id="drp-widgets" style="cursor: not-allowed;"></div>
                </div>
            </div>
        </div>
    </div>
    @if (loggedInUser.UserOrEmployee == "E")
    {
        <div class="row">
            @if ((EmployeeDetail.DOB.Day == DateTime.Now.Day) && EmployeeDetail.DOB.Month == DateTime.Now.Month)
            {
                int birthdayYears = ((DateTime.Now - EmployeeDetail.DOB).Days) / 365;
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-white">
                        <div class="inner">
                            <h3>@birthdayYears<sup class="font-weight-normal">@birthdayYears.GetOrdinal()</sup></h3>
                            <p>Happy Birthday</p>
                        </div>
                        <div class="icon">
                            <img src="~/images/male-birthday.svg" height="90" />
                        </div>
                    </div>
                </div>
            }
            @if ((EmployeeDetail.DOJ.Day == DateTime.Now.Day) && EmployeeDetail.DOJ.Month == DateTime.Now.Month)
            {
                int anniversaryYears = ((DateTime.Now - EmployeeDetail.DOJ).Days) / 365;
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-white">
                        <div class="inner">
                            <h3>@anniversaryYears<sup class="font-weight-normal">@anniversaryYears.GetOrdinal()</sup></h3>
                            <p>Happy Work Anniversary</p>
                        </div>
                        <div class="icon">
                            <img src="~/images/male-birthday.svg" height="90" />
                        </div>
                    </div>
                </div>
            }
        </div>
        Employee_LeaveHistory_GetRow_Result balanceDetail = ViewBag.BalanceDetail;
        var leaveBalance = balanceDetail.LeaveOp + balanceDetail.Leave - balanceDetail.LeaveTaken;
        var leaveSalaryBalance = balanceDetail.LvSalaryOp + balanceDetail.LvSalary - balanceDetail.LvSalaryTaken;
        var leaveTicketBalance = balanceDetail.LvTicketOp + balanceDetail.LvTicket - balanceDetail.LvTicketTaken;
        var fundBalance = balanceDetail.GratAmtOp + balanceDetail.GratAmt - balanceDetail.GratAmtTaken;
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@leaveBalance.ToString(DecimalFormat)</h3>
                        <p>Leave Balance</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@leaveSalaryBalance.ToString(DecimalFormat)</h3>
                        <p>Leave Salary Balance</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@leaveTicketBalance.ToString(DecimalFormat)</h3>
                        <p>Leave Ticket Balance</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@fundBalance.ToString(DecimalFormat)</h3>
                        <p>Fund Balance</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (loggedInUser.UserLinkedTo != "Emp")
{
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-white">
                <div class="inner">
                    <h3>@EmplLoanAndLeaveApproval.Working</h3>
                    <p>Present Employee</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-white">
                <div class="inner">
                    <h3>@EmplLoanAndLeaveApproval.OnLeave</h3>
                    <p>Employee on Leave</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-white">
                <div class="inner">
                    <h3>@EmplLoanAndLeaveApproval.LeaveApplied</h3>
                    <p>Employee Leave Applied</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>
    </div>
}
<div class="grid-stack"></div>
<div class="modal" id="ChartPreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <span class="chart-title"></span>
                    <span class="spinner spinner-primary ml-5 d-none"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PayslipDownloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Download Payslip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="payslip-filter-frm">
                    <input type="hidden" id="EmpCd" name="EmpCd" value="@loggedInUser.UserCd" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Period</label>
                                <input id="Period" name="Period" value="@ViewBag.currentMonthYear" class="form-control month-year-input" type="text" data-toggle="datetimepicker" onchange="loadPayslip()">
                            </div>
                        </div>
                    </div>
                </form>
                <div id="PaySlip" class="mb-2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info d-none" id="btn-pdf" onclick="filterShowReport(true)">Print</button>
            </div>
        </div>
    </div>
</div>
<div id="DocumentModal" class="modal fade" role="dialog" tabindex='-1'></div>
<div id="PreviewModal" class="modal fade" role="dialog" tabindex='-1'></div>
<style>
    .small-box .icon > img {
        font-size: 90px;
        position: absolute;
        right: 15px;
        top: 15px;
        transition: -webkit-transform .3s linear;
        transition: transform .3s linear;
        transition: transform .3s linear, -webkit-transform .3s linear;
    }
</style>
@section scripts {
    <script src="~/plugins/lodash/lodash.js"></script>
    <script src="~/plugins/gridstack/gridstack-all.js"></script>
    <script src="~/plugins/chart.js/chart.min.js"></script>
    <script src="~/js/page/dashboard.js" asp-append-version="true"></script>
}