@model IEnumerable<EmpDocImages_GetRow_Result>
@{
    var companyCd = User.Claims.FirstOrDefault(m => m.Type == "CompanyCd")?.Value;
}
@if (Model != null && Model.Any())
{
    <input type="hidden" id="File_SrNo" name="SrNo" />
    <div class="mb-3">
        @foreach (var item in Model)
        {
            var fileExist = item.ImageFile.FileExist("emp-doc", companyCd);
            var fileImage = fileExist == true && !string.IsNullOrEmpty(item.ImageFile) ? item.ImageFile.Contains("pdf") ? "/images/pdf-icon.png" : $"/uploads/{companyCd}/emp-doc/{item.ImageFile}" : "/images/fallback-image.png";
            var previewFilePath = fileExist == true ? $"/uploads/{companyCd}/emp-doc/{item.ImageFile}" : "File not found";
            <div class="btn-file-edit-container">
                <img id="file-@item.SlNo" style="height:100px;max-width:100%;" src="@fileImage" class="img-thumbnail @(string.IsNullOrEmpty(item.ImageFile) ? "d-none" :"")" onclick="filePreview('@previewFilePath')" data-toggle="tooltip" title="@(fileExist ? "Click to Preview File":"File not found")">
                <input class="d-none" type="file" id="doc-file-@item.SlNo" onchange="filesEditPreview(event,'@item.SlNo')" name="file-edit" />
                <button class="btn btn-sm btn-info btn-circle btn-file-edit" id="btn-upload-file-@item.SlNo" data-srno="@item.SlNo" onclick="editDoc(this)" type="button"><i class="fa fa-pen"></i></button>
                <button class="btn btn-sm btn-info btn-circle btn-file-upload d-none" id="btn-upload-@item.SlNo" data-srno="@item.SlNo" onclick="saveEditFile()" type="button"><i class="fa fa-upload"></i></button>
                <button class="btn btn-sm btn-danger btn-circle btn-file-delete" id="btn-file-delete-@item.SlNo" onclick="deleteDocumentFile(this,'@item.EmployeeCode','@item.DocumentTypeCd','@item.SlNo')" type="button"><i class="fa fa-times"></i></button>
                @if (fileExist)
                {
                    <a onclick="downloadFile('emp-doc','@item.ImageFile')" style="position: absolute;bottom:-25px;left:20px;">Download</a>
                }
            </div>
        }
    </div>
}