@{
    ViewData["Title"] = "Employee Profile";
    ViewData["AdditionLinkWithTitle"] = "Employees_/Employee/Profiles";
    string[] sections = { "Personal Detail", "Official Detail", "Education Detail", "Experience Detail", "Documents", "Earnings & Deductions", "Addresses" };
}
<link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-body p-0">
                <div id="stepper" class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        @foreach (var item in sections.Select((value, i) => new { i, value }))
                        {
                            <div class="step" data-target="#@item.value.ConvertToSlug()-part">
                                <button type="button" class="step-trigger" role="tab" aria-controls="@item.value.ConvertToSlug()-part" id="@item.value.ConvertToSlug()-trigger">
                                    <span class="bs-stepper-circle">@(item.i + 1)</span>
                                    <span class="bs-stepper-label">@item.value</span>
                                </button>
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="bs-stepper-content">
                        <form id="emp-profile-frm">
                            @foreach (var item in sections.Select((value, i) => new { i, value }))
                            {
                                <div id="@item.value.ConvertToSlug()-part" class="content" role="tabpanel" aria-labelledby="@item.value.ConvertToSlug()-part-trigger">

                                    @if (item.value.Contains("Personal"))
                                    {
                                        <partial name="_PersonalDetail" />
                                    }
                                    @if (item.value.Contains("Official"))
                                    {
                                        <div style="min-height:400px">
                                            <partial name="_OfficialDetail" />
                                        </div>
                                    }

                                    @if (item.value.Contains("Education"))
                                    {
                                        <partial name="_EducationDetail" />
                                    }
                                    <button type="button" class="btn btn-primary" onclick="GoToNextPrev(this,true)">&laquo; Previous</button>
                                    <button type="button" class="btn btn-primary float-right" onclick="GoToNextPrev(this)">Next &raquo;</button>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section scripts {
    <script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/js/page/employee/employee-profile.js" asp-append-version="true"></script>
}