@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
    var userTypeList = Html.GetEnumSelectList<UserTypeEnum>().Select(m => { m.Selected = m.Value == ((int)UserTypeEnum.User).ToString(); return m; });
    IEnumerable<SelectListItem> companyItems = ViewBag.CompanyItems;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="screen">
            <img src="~/images/logo.png" class="login__logo" />
            <div class="screen__content">
                <form class="login" method="post" id="login-frm">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input asp-for="Username" class="login__input" placeholder="Username">
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" asp-for="Password" class="login__input" placeholder="Password">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="login__field">
                        <div>
                            @foreach (var item in userTypeList)
                            {
                                <label class="radio-inline mb-0">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" asp-for="UserType" class="custom-control-input custom-control-input-secondary custom-control-input-outline" id="usertype_@item.Value" value="@item.Value" checked="@item.Selected">
                                        <label for="usertype_@item.Value" class="custom-control-label font-weight-normal">@item.Text</label>
                                    </div>
                                </label>
                            }
                        </div>
                    </div>
                    <div class="login__field @(companyItems.Count() <= 1 ? "d-none" : "")">
                        <i class="login__icon fas fa-building"></i>
                        <select asp-for="CoAbbr" class="login__input" asp-items="@ViewBag.CompanyItems">
                            <option value="">@CommonSetting.DEFAULTSELECT</option>
                        </select>
                        <span asp-validation-for="CoAbbr" class="text-danger"></span>
                    </div>
                    <div class="login__field">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="RememberMe" class="custom-control-input custom-control-input-secondary custom-control-input-outline" type="checkbox" id="rememberme">
                            <label for="rememberme" class="custom-control-label font-weight-normal">Remember Me</label>
                        </div>
                    </div>
                    <button class="button login__submit" onclick="loginUser(this)">
                        <span class="button__text">Sign In</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <partial name="_Notification" />
    <partial name="_ScriptImports" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
<script>
    function loginUser(btn) {
        var frm = $("#login-frm");
        if (frm.valid()) {
            loadingButton(btn);
            setTimeout(function () {
                frm.submit();
            }, 1000);
        }
    }
</script>
