@model IEnumerable<Country_GetRow_Result>
<div class="mb-3">
    <button class="btn btn-info" onclick="showCountryModal('')">New Country</button>
</div>
<div class="table-responsive">
    <table class="table table-sm" id="CountriesDataTable">
        <thead class="thead-dark">
            <tr>
                <th width="5px">No.</th>
                <th width="50px">Code</th>
                <th>Short Desc.</th>
                <th>Description</th>
                <th>Nationality</th>
                <th>Region</th>
                <th>Provisions</th>
                <th width="90px"></th>
            </tr>
        </thead>
        @foreach (var item in Model.Select((value, i) => new { i, value }))
        {
            <tr>
                <td class="text-right">@(item.i + 1).</td>
                <td>@item.value.Code</td>
                <td>@item.value.ShortDesc</td>
                <td>@item.value.Description</td>
                <td>@item.value.Nationality</td>
                <td>@item.value.Region</td>
                <td>@item.value.Provisions</td>
                <td>
                    <button class="btn btn-sm btn-info" onclick="showCountryModal('@item.value.Code')"><i class="fas fa-pen"></i></button>
                    <button class="btn btn-sm btn-danger ml-2" onclick="deleteCountry('@item.value.Code')"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </table>
</div>
<div id="CountryModal" class="modal fade" role="dialog" tabindex='-1'></div>
<script>
    function showCountryModal(cd) {
        var url = `/Settings/GetCountry?cd=${cd}`;
        $('#CountryModal').load(url, function () {
            parseDynamicForm();
            $('.int-input').attr("placeholder", "0");
            $('.int-input').inputmask(intMaskOptions);
            $("#CountryModal").modal("show");
        });
    }
    function deleteCountry(cd) {
        Swal.fire({
            title: "Are you sure?",
            text: "You want to Delete?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes!"
        }).then((result) => {
            if (result.isConfirmed) {
                deleteAjax(`/settings/DeleteCountry?cd=${cd}`, function (response) {
                    showSuccessToastr(response.message);
                    reloadPageAfterSometime();
                });
            }
        });
    }
    function saveCountry(btn) {
        var frm = $("#country-frm");
        if (frm.valid()) {
            loadingButton(btn);
            postAjax("/settings/SaveCountry", frm.serialize(), function (response) {
                if (response.success) {
                    showSuccessToastr(response.message);
                    $("#CountryModal").modal("hide");
                    reloadPageAfterSometime();
                }
                else {
                    showErrorToastr(response.message);
                    $("#CountryModal").modal("hide");
                }
                unloadingButton(btn);
            });
        }
    }
</script>