@model CompanyProcessApprovalModel
@{
    string jsonString = Model.ApprovalLevels != null ? Model.ApprovalLevels.Select(m => m.EmpCd.Trim()).ToList().JsonObjectToString() : string.Empty;
}
<div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@(!string.IsNullOrEmpty(Model.ProcessId) ? "Edit" : "Add") Approval Process</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form id="approval-process-frm">
                <input type="hidden" asp-for="Cd" />
                <div class="@(!string.IsNullOrEmpty(Model.ProcessId) ? "disabled-container" : "")">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ProcessIdCd"></label>
                                <select asp-for="ProcessIdCd" class="form-control select-picker" asp-items="ViewBag.TypeItems" onchange="bindDocTypeByType(this)">
                                </select>
                                <span asp-validation-for="ProcessIdCd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ApplTypCd"></label>
                                <select asp-for="ApplTypCd" class="form-control select-picker" asp-items="ViewBag.DocumentTypeItems">
                                </select>
                                <span asp-validation-for="ApplTypCd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BranchCd"></label>
                                <select asp-for="BranchCd" class="form-control select-picker" asp-items="ViewBag.BranchItems">
                                </select>
                                <span asp-validation-for="BranchCd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DeptCd"></label>
                                <select asp-for="DeptCd" class="form-control select-picker" asp-items="ViewBag.DepartmentItems">
                                </select>
                                <span asp-validation-for="DeptCd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Approval Levels</label>
                    <select asp-for="ApprovalLevels" class="form-control select-picker" multiple data-selected-text-format="count > 1" data-actions-box="true" data-width="100%" title="@CommonSetting.DEFAULTSELECT">
                        @if (Model.ApprovalLevels != null)
                        {
                            @for (int i = 0; i < Model.ApprovalLevels.Count(); i++)
                            {
                                <option value="@Model.ApprovalLevels[i].EmpCd.Trim()" selected>@Model.ApprovalLevels[i].EmpName.Trim() (@Model.ApprovalLevels[i].EmpCd.Trim())</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ApprovalLevels" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveApprovalProcess(this)">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script>
    var approvalLevelJson = '@jsonString';
    var approvalLevelsValues = approvalLevelJson ? approvalLevelJson.replace(/&quot;/g, '"') : null;
    bindEmployeeMultipleDropdown('', '', '', '', function () {
        $('#ApprovalLevels').selectpicker('val', JSON.parse(approvalLevelsValues));
    });
</script>