@model EarnDedModel
<div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@(!string.IsNullOrEmpty(Model.Cd) ? "Edit" : "Add") Component</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form id="component-frm">
                <input type="hidden" asp-for="Code" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group @(!string.IsNullOrEmpty(Model.Cd) ? "disabled-container" : "")">
                            <label asp-for="Cd"></label>
                            <input asp-for="Cd" class="form-control @(!string.IsNullOrEmpty(Model.Cd) ? "disabled" : "")" />
                            <span asp-validation-for="Cd" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group @(!string.IsNullOrEmpty(Model.Cd) ? "disabled-container" : "")">
                            <label asp-for="TypeCd"></label>
                            <select asp-for="TypeCd" class="form-control select-picker @(!string.IsNullOrEmpty(Model.Cd) ? "disabled" : "")" asp-items="ViewBag.ComponentClassItems">
                                
                            </select>
                            <span asp-validation-for="TypeCd" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TrnTypCd"></label>
                            <select asp-for="TrnTypCd" class="form-control select-picker" asp-items="ViewBag.ComponentTypeItems">
                                
                            </select>
                            <span asp-validation-for="TrnTypCd" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PercAmt_Cd"></label>
                            <select asp-for="PercAmt_Cd" class="form-control select-picker" asp-items="ViewBag.PercentageAmtItems" onchange="changePercentageAmt()">
                                
                            </select>
                            <span asp-validation-for="PercAmt_Cd" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Perc_Val"></label>
                            <input asp-for="Perc_Val" class="form-control" />
                            <span asp-validation-for="Perc_Val" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Abbriviation"></label>
                            <input asp-for="Abbriviation" class="form-control" />
                            <span asp-validation-for="Abbriviation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SDes"></label>
                            <input asp-for="SDes" class="form-control" />
                            <span asp-validation-for="SDes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="OT">
                        <label asp-for="OT" class="custom-control-label font-weight-normal">OT Pay Comp.</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="OtCd">
                        <label asp-for="OtCd" class="custom-control-label font-weight-normal">Used for OT calculation</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="JobCosting">
                        <label asp-for="JobCosting" class="custom-control-label font-weight-normal">Job Cost Comp.</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="LoanTyp">
                        <label asp-for="LoanTyp" class="custom-control-label font-weight-normal">Loan Comp.</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveComponent(this)">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>