@model IEnumerable<CompanyOvertimeRates_GetRow_Result>
<div class="mb-3">
    <button class="btn btn-info" onclick="showOvertimeRateModal('')">New Overtime Rate</button>
</div>
<div class="table-responsive">
    <table class="table table-sm" id="OvertimeRatesDataTable">
        <thead class="thead-dark">
            <tr>
                <th width="5px">No.</th>
                <th>Type</th>
                <th>Duty Hrs Upto</th>
                <th>Rate</th>
                <th>Short Desc.</th>
                <th>Description</th>
                <th>Day Type</th>
                <th>Pay Code</th>
                <th width="90px"></th>
            </tr>
        </thead>
        @foreach (var item in Model.Select((value, i) => new { i, value }))
        {
            <tr>
                <td class="text-right">@(item.i + 1).</td>
                <td>@item.value.Type</td>
                <td>@item.value.HrsApply</td>
                <td>@item.value.Rate</td>
                <td>@item.value.Sdes</td>
                <td>@item.value.Narr</td>
                <td>@item.value.HolTyp</td>
                <td>@item.value.PayCd</td>
                <td>
                    <button class="btn btn-sm btn-info" onclick="showOvertimeRateModal('@item.value.SrNo','@item.value.TypCd')"><i class="fas fa-pen"></i></button>
                    <button class="btn btn-sm btn-danger ml-2" onclick="deleteOvertimeRate('@item.value.SrNo','@item.value.TypCd')"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </table>
</div>
<div id="OvertimeRateModal" class="modal fade" role="dialog" tabindex='-1'></div>
<script>
    function showOvertimeRateModal(cd, type) {
        var url = `/Organisation/GetOvertimeRate?cd=${cd}&type=${type}`;
        $('#OvertimeRateModal').load(url, function () {
            parseDynamicForm();
            $('.decimal-input').attr("placeholder", "0.00");
            $('.decimal-input').inputmask(decimalMaskOptions);
            $(".select-picker").selectpicker();
            $("#OvertimeRateModal").modal("show");
        });
    }
    function deleteOvertimeRate(cd, type) {
        Swal.fire({
            title: "Are you sure?",
            text: "You want to Delete?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes!"
        }).then((result) => {
            if (result.isConfirmed) {
                deleteAjax(`/Organisation/DeleteOvertimeRate?cd=${cd}&type=${type}`, function (response) {
                    showSuccessToastr(response.message);
                    reloadPageAfterSometime();
                });
            }
        });
    }
    function saveOvertimeRate(btn) {
        var frm = $("#overtime-rate-frm");
        if (frm.valid()) {
            loadingButton(btn);
            postAjax("/Organisation/SaveOvertimeRate", frm.serialize(), function (response) {
                if (response.success) {
                    showSuccessToastr(response.message);
                    $("#OvertimeRateModal").modal("hide");
                    reloadPageAfterSometime();
                }
                else {
                    showErrorToastr(response.message);
                    $("#OvertimeRateModal").modal("hide");
                }
                unloadingButton(btn);
            });
        }
    }
</script>