@using X.PagedList
@model IPagedList<Employee_GetRow_Result>
<div class="row" id="EmployeeGrid">
    @foreach (var item in Model)
    {
        var profilePic = !string.IsNullOrEmpty(item.Image) ? $"/images/avatar.png" : "/images/avatar.png";
        var statusClass = item.Status == "";
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill border border-info">
                <div class="card-header text-muted border-bottom-0">
                    <h4 class="lead mb-0"><b>@item.Salutation @item.Name</b></h4>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row">
                        <div class="col-7">
                            <p class="text-muted text-sm mb-0"><b>Code: </b> @item.Cd</p>
                            <p class="text-muted text-sm mb-0"><b>Branch: </b> @item.Branch</p>
                            <p class="text-muted text-sm mb-0"><b>Sponsor: </b> @item.Sponsor</p>
                            <p class="text-muted text-sm mb-0"><b>Designation: </b> @item.Designation</p>
                            <p class="text-muted text-sm mb-0"><b>Department: </b> @item.Department</p>
                            <p class="text-muted text-sm mb-0"><b>Type: </b> @item.EmpType</p>
                            <p class="text-muted text-sm mb-0"><b>Nationality: </b> @item.Nationality</p>
                        </div>
                        <div class="col-5 text-center">
                            <div class="status-container position-relative">
                                <i class="fas fa-circle nav-icon text-warning" data-toggle="tooltip" title="@item.Status"></i>
                            </div>
                            <img src="@profilePic" alt="user-avatar" class="rounded img-fluid border">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <a asp-action="Profile" asp-route-cd="@item.Cd.Trim()" class="btn btn-sm btn-primary">
                            <i class="fas fa-user"></i> View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>